<template name="ddealTemplate">
    <div class = "row">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
            <input type="text" id="_id" value="{{_id}}" data-type="string" hidden>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="username">
                                Login
                            </label>
                            <div class="input-div">
                                <input type="text" name="login" value="{{login}}" class="form-control" required="required" data-type="string">
                                <span id="help-text" class="help-block">
                                </span>
                                <span id="error-text" class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="password">
                                Password
                            </label>
                            <div class="input-div">
                                <input type="text" name="ddeal_password" value="{{password}}" class="form-control" required="required" data-type="password">
                                <span id="help-text" class="help-block">
                                </span>
                                <span id="error-text" class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="username">
                                Username
                            </label>
                            <div class="input-div">
                                <input type="text" name="username" value="{{username}}" class="form-control" required="required" data-type="string">
                                <span id="help-text" class="help-block">
                                </span>
                                <span id="error-text" class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="price">
                                Price
                            </label>
                            <div class="input-div">
                                <input type="text" name="price" value="{{price}}" class="form-control" required="required" data-type="string">
                                <span id="help-text" class="help-block">
                                </span>
                                <span id="error-text" class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="category">
                                Category
                            </label>
                            <div class="input-div">
                                <input type="text" name="category" value="{{category}}" class="form-control" required="required" data-type="string">
                                <span id="help-text" class="help-block">
                                </span>
                                <span id="error-text" class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="subcategory">
                                Subcategory
                            </label>
                            <div class="input-div">
                                <input type="text" name="subcategory" value="{{subcategory}}" class="form-control" required="required" data-type="string">
                                <span id="help-text" class="help-block">
                                </span>
                                <span id="error-text" class="help-block">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" id="{{id}}" class="btn btn-primary save">Save</button>
                    </div>
                    <div class="col-offset-sm-4 col-sm-4">
                        <label><input type="checkbox" id="ddeal:{{id}}" class="publish">Publish</label>
                    </div>
                </div>
            </div>
		</form>
    </div>
</template>