div.show-image {
    position: relative;
    background: #fff;
    border: 2px solid #000;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 150px;
    height: 150px;
    margin-right: .5em;
    margin-bottom: .3em;
}

div.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
}

div.crop img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
}


div.show-image img{
    height: 120px;
    width: auto;
    background-size: cover;
    background-position: center;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover button {
    display: block;
}
div.show-image button {
    position:absolute;
    display:none;
}
div.show-image button.update {
    top:0;
    left:0;
}
div.show-image button.delete {
    top:0;
    left:80%;
}
div.show-image button.rotate-right {
    top:0;
    left:60%;
}
div.show-image button.rotate-left {
    top:0;
    left:40%;
}

div.show-image img.img90 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

div.show-image img.img180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

div.show-image img.img270 {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}