<template name="NewAd">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					New Ad
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> NewAdNewAdForm}}
		{{> PluginShowTemplate}}
		<div>
			<button type="button" id="{{id}}" class="btn btn-primary savenpublish">Save & Publish</button>
		</div>
	</div>
</template>

<template name="NewAdNewAdForm">
	<div class="container">
		{{> s3_tester}}
	</div>
	<div id="new-ad-new-ad-form" class="container">
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-title">
				<label for="title">
					Title
				</label>
				<input type="text" id="_id" value="" data-type="string" hidden>
				<div class="input-div">
					<input type="text" name="title" value="" class="form-control " autofocus="autofocus" required="required" data-type="string">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-description">
				<label for="description">
					Description
				</label>
				<div class="input-div">
					<textarea cols="40" rows="5" name="description" value="" class="form-control " required="required" data-type="string"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>

			<div class="form-group">
				<div class="submit-div">
					<button type="button" class="btn btn-primary save">Save</button>
				</div>
			</div>
		</form>
	</div>
</template>

<template name="PluginShowTemplate">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">DoneDeal:</h3>
		</div>
		<div class="panel-body">
			<div id="dataview-data">
				{{> ddealTemplate}}
			</div>
		</div>
	</div>
</template>