<template name="imgUploadForm">
    {{#with currentUpload}}
      Uploading <b>{{file.name}}</b>:
      <span id="progress">{{progress.get}}%</span>
  {{else}}
    <input id="imgFileInput" type="file"/>
    <button id="testImgBtn">Upload</button>
  {{/with}}
</template>

<template name="uploadedFiles">
  {{#if uploadedFiles.count}}
    <ul>
      {{#each file in uploadedFiles.each}}
        <li>
          <a href="{{file.link}}?download=true" download="{{file.name}}">{{file.name}}</a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div>No files uploaded, yet</div>
  {{/if}}
</template>

<template name="s3_tester">
    <input type="file" class="file_bag" multiple>

  <div class="row">
    {{#each files}}
    <div class="show-image">
      <div class="crop">
        <img src="{{secure_url}}" id="{{_id}}" class="img{{rot}}">
        <button type="button" class="rotate-left" id="{{_id}}"><i class="fa fa-undo"></i></button>
        <button type="button" class="rotate-right" id="{{_id}}"><i class="fa fa-repeat"></i></button>
        <button type="button" class="delete" id="{{_id}}"><i class="fa fa-trash"></i></button>
      </div>
    </div>
	  {{/each}}
  </div>
</template>