<template name="HomePrivate">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Welcome {{userFullName}}!
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePrivateAdsList}}
	</div>
</template>

<template name="HomePrivateAdsList">
	<div id="home-private-ads-list" class="">
		<h2 id="component-title">
			List
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> HomePrivateAdsListTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No data here
		</div>
		{{/if}}
	</div>
</template>

<template name="HomePrivateAdsListTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="title">
					Title
				</th>
				<th class="th-sortable" data-sort="subtitle">
					Sub Title
				</th>
				<th class="th-sortable" data-sort="photos">
					Photos
				</th>
				<th class="th-sortable" data-sort="actions">
					Actions
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> HomePrivateAdsListTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="HomePrivateAdsListTableItems">
	<tr>
		<td>
			{{title}}
		</td>
		<td>
			{{subtitle}}
		</td>
		<td>
			{{photos}}
		</td>
		<td>
			<button type="button" class="edit-button" id={{rid}}><i class="fa fa-edit fa-1x"></i>Edit</button>
			<button type="button" class="delete-button" id={{rid}}><i class="fa fa-trash fa-1x"></i>Delete</button>
		</td>
	</tr>
</template>

